<a href="https://colab.research.google.com/github/choi-yh/Pyhon_ML_Guide/blob/master/09_00_%EC%B6%94%EC%B2%9C_%EC%8B%9C%EC%8A%A4%ED%85%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 01. 추천 시스템의 개요와 배경

### 추천 시스템의 개요

### 온라인 스토어의 필수 요소, 추천 시스템

* 추천 시스템을 통해 소비자가 제품 선택을 손쉽게 할 수 있도록 한다.
* 추천 시스템 구성 예시
    * 사용자가 어떤 상품을 구매했는가?
    * 사용자가 어떤 상품을 둘러보고, 장바구니에 추가했는가?
    * 사용자의 평점은?

### 추천 시스템의 유형


* **콘텐츠 기반 필터링(Content based filtering)**
* **협업 필터링(Collaborative Filtering)**
    * 최근접 이웃(Nearest Neighbor) 협업 필터링
    * 잠재 요인(Latent Factor) 협업 필터링


* 추천 시스템 초기에는 콘텐츠 기반 필터링 / 최근접 이웃 협업 필터링 사용
* "넷플릭스 추천 시스템 경연대회"에서 **행렬 분해(Matrix Factorization) 기법을 이용한 잠재 요인 협업 필터링 방식**이 우승 -> 대부분의 온라인 스토어에서 해당 기법을 활용한 시스템 적용 중

## 02. 콘텐츠 기반 필터링 추천 시스템 (Content based filtering)

* **사용자가 특정 아이템 사용을 매우 선호하는 경우, 해당 아이템과 비슷한 콘텐츠를 가진 아이템을 추천하는 방식**  
ex) 특정 영화에 높은 평점을 줬을 경우, 해당 장르, 감독, 배우, 키워드 등이 비슷한 영화를 추천

## 03. 최근접 이웃 협업 필터링

* **협업 필터링(Collaborative Filtering)**:   
 **사용자 행동 양식(User Behavior)**(사용자가 아이템에 매긴 평점, 상품 구매 이력 등)을 기반으로 추천을 수행하는 방식

* 주요 목표: 사용자-아이템 평점 매트릭스와 같은 축적된 사용자 행동 데이터를 기반으로 사용자가 아직 평가하지 않은 아이템을 예측 평가(Predicted Rating)하는 것

* 협업 필터링(Collaborative Filtering) 방식은 **최근접 이웃 방식**과 **잠재 요인 방식**으로 나뉜다. 두 방식 모두 사용자-아이템 평점 행렬 데이터에만 의지해 추천을 수행

* **사용자-아이템 평점 행렬**
    * 행(Row): 개별 사용자
    * 열(Column): 개별 아이템
    * 값(Value): 평점
    * 많은 아이템을 열로 가지는 다차원 행렬이며, 사용자가 평점을 내는 경우가 많지 않기 때문에 **희소 행렬(Sparse Matrix)** 특성을 가지고 있다.

---

* 최근접 이웃 협업 필터링은 메모리(Memory) 협업 필터링이라고도 하며 다음과 같이 나눌 수 있다.
    * **사용자 기반(User-User) 협업 필터링**  
        * 당신과 비슷한 고객들이 다음 상품도 구매 (Customers like you also bought these items.)
        * 특정 사용자와 유사한 다른 사용자를 TOP-N으로 선정해 이 TOP-N 사용자가 좋아하는 아이템을 추천하는 방식
        * 특정 사용자와 타 사용자 간의 유사도(Similarity)를 측정한 뒤 가장 유사도가 높은 TOP-N 사용자를 추출해 그들이 선호하는 아이템을 추천

    * **아이템 기반(Item-Item) 협업 필터링**
        * 이 상품을 선택한 다른 고객들은 다음 상품도 구매 (Customers who bought this item also bought these items.)
        * (아이템이 가지는 속성과는 상관없이) 사용자들이 그 아이템을 좋아하는지/싫어하는지의 평가 척도가 유사한 아이템을 추천하는 기준이 되는 알고리즘
        * 사용자 기반 최근접 이웃 데이터 세트와 행과 열이 서로 반대 (행이 개별 아이템, 열이 개별 사용자)

    * 일반적으로 사용자 기반 협업 필터링보다 **아이템 기반 협업 필터링**이 정확도가 더 높다.  
     비슷한 영화를 좋아한다고 해서 취향이 비슷한 것은 아니고 유명한 영화의 경우 대부분의 사람이 관람을 하기 때문이다. 또한, 사용자들이 평점을 매기지 않은 아이템이 많아 다른 사람들과의 유사도를 비교하기 어렵다.


* **다차원 희소 행렬**이라는 특징이 있기 때문에 텍스트 분석에서 사용하는 **코사인 유사도**를 통해 추천 시스템의 유사도를 측정한다.

---

* **코사인 유사도**(Cosine Similarity)
    * 벡터와 벡터 간의 유사도를 비교할 때, 벡터의 크기보다는 **벡터의 상호 방향성**이 얼마나 유사한지에 기반 (두 벡터 사이의 사잇각을 구해서 얼마나 유사한지 수치로 적용)

$$similarity = cos \theta = \frac{A \cdot B}{\lVert A \rVert \lVert B \rVert} = \frac{\sum_{i=1}^n A_i B_i} {\sqrt{\sum_{i=1}^n A_i^2 } \sqrt{\sum_{i=1}^n  B_i^2}}$$

In [12]:
# 레코드 레벨 형태(row-level 형태)의 데이터는 사용자-아이템 평점 행렬로 바꿔줘야함
# row: 사용자 / column: 아이템

import pandas as pd

data = pd.DataFrame({"User ID": ['User 1', 'User 1', 'User 2', 'User 2', 'User 3'],
                     "Item ID": ['Item 1', 'Item 3', 'Item 1', 'Item 2', 'Item 4'],
                     "Rating": [3, 3, 4, 1, 5]})
display(data)

print('')
print('=' * 50)
print('')

data = pd.pivot_table(data=data, values='Rating', index='User ID', columns='Item ID')
display(data)

  User ID Item ID  Rating
0  User 1  Item 1       3
1  User 1  Item 3       3
2  User 2  Item 1       4
3  User 2  Item 2       1
4  User 3  Item 4       5

==================================================

Item ID  Item 1  Item 2  Item 3  Item 4
User ID
User 1      3.0     NaN     3.0     NaN
User 2      4.0     1.0     NaN     NaN
User 3      NaN     NaN     NaN     5.0

In [15]:
# 사용자 기반 최근접 협업 필터링 방식에서 사용하는 데이터 형태
data = pd.DataFrame({"User": ['A', 'A', 'A', 'B', 'B', 'B', 'B', 'B', 'C', 'C', 'C', 'C', 'C'],
                     "Movie": ['다크나이트', '인터스텔라', '엣지오브투모로우', '다크나이트', '인터스텔라', '엣지오브투모로우', '프로메테우스', '스타워즈', '다크나이트', '인터스텔라', '엣지오브투모로우', '프로메테우스', '스타워즈'],
                     "Value": [5, 4, 4, 5, 3, 4, 5, 3, 4, 3, 3, 2, 5]})

user_based_data = pd.pivot_table(data=data, values='Value', index='User', columns='Movie')
user_based_data

Movie  다크나이트  스타워즈  엣지오브투모로우  인터스텔라  프로메테우스
User
A        5.0   NaN       4.0    4.0     NaN
B        5.0   3.0       4.0    3.0     5.0
C        4.0   5.0       3.0    3.0     2.0

사용자 기반 최근접 협업 필터링을 사용할 때, A가 관람한 ['다크나이트', '엣지오브투모로우', '인터스텔라'] 평점이 C보다는 B와 유사하므로 B의 평점이 더 높은 프로메테우스를 A에게 추천한다.

In [17]:
# 아이템 기반 최근접 협업 필터링 방식에서 사용하는 데이터 형태
data = pd.DataFrame({"User": ['A', 'A', 'A', 'B', 'B', 'B', 'C', 'C', 'C', 'D', 'E', 'E', 'E'],
                     "Movie": ['다크나이트', '프로메테우스', '스타워즈', '다크나이트', '프로메테우스', '스타워즈', '다크나이트', '프로메테우스', '스타워즈', '다크나이트', '다크나이트', '프로메테우스', '스타워즈'],
                     "Value": [5, 5, 4, 4, 4, 3, 5, 4, 3, 5, 5, 5, 4]})

item_based_data = pd.pivot_table(data=data, values='Value', index='Movie', columns='User')
item_based_data

User      A    B    C    D    E
Movie
다크나이트   5.0  4.0  5.0  5.0  5.0
스타워즈    4.0  3.0  3.0  NaN  4.0
프로메테우스  5.0  4.0  4.0  NaN  5.0

모두에게 평점이 있는 다크나이트를 확인했을 때, 스타워즈보다는 프로메테우스가 평점 분포가 더 비슷하다. => D에게 프로메테우스를 추천

In [44]:
# 코사인 유사도 계산
import numpy as np

def cos_similarity(v1, v2):
    dot_product = np.dot(v1, v2)
    l2_norm = np.sqrt(sum(np.square(v1))) * np.sqrt(sum(np.square(v2)))
    similarity = dot_product / l2_norm

    return similarity

darkknight = np.array([5, 4, 5, 5])
starwarz = np.array([4, 3, 3, 4])
prometheus = np.array([5, 4, 4, 5])

print(f'darkknight with starwarz: {cos_similarity(darkknight, starwarz):.4f}')
print(f'darkknight with prometheus: {cos_similarity(darkknight, prometheus):.4f}')

darkknight with starwarz: 0.9933
darkknight with prometheus: 0.9956

## 04. 잠재 요인 협업 필터링